# Środowiska wirtualne (Virtual Environments)
.venv/
venv/
*.venv

# Pliki cache i bytecode Pythona (Python cache files)
__pycache__/
*.pyc
*.pyo
*.pyd

# Pliki konfiguracyjne IDE (IDE configuration files)
.vscode/
.idea/

# Pliki systemowe (OS specific files)
.DS_Store
Thumbs.db

# Pliki budowania/dystrybucji (Build/distribution files)
build/
dist/
*.egg-info/
*.spec

# Pliki generowane przez narzędzia testowe (Testing files)
.pytest_cache/
.coverage
pyvenv.cfg